@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #8BC6EC;
 
  
}

.project-wrapper{
  width: 80%;
  border:2px solid orange;
  margin: 0 auto;

}

.header{
  text-align: center;
  
  padding-top: 1em;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.img-container{
  
  display: flex;
  justify-content: center;
}

.emojis{
  font-size: 2.5em;
}

.btn-container{
  border:2px solid orange;
}

